<div class='mb-12'>
	<h1 class='text-4xl font-bold'><a href={{@site.url}}>{{@site.title}}</a></h1>
	<div class='flex flex-row'>
		{{{navigation}}}
	</div>
	<div
		class='my-2 bg-gray-100 text-black py-4 px-3 rounded-md border-gray-300 border mr-1 sm:w-4/5'
	>
		<p class='font-sm'>This website is a dumbed-down version of the one to come.</p>
	</div>
</div>