{{!< default}}

{{> "header"}}

{{#post}}
<div class="my-16 mx-2 md:mx-0 md:w-4/5">
    <h2 class="text-5xl font-bold"><a href={{url}}>{{title}}</a></h2>
    <div class="mt-2 content">{{content}}</div>
</div>
{{/post}}