{{!< default}}

{{> "header"}}

{{#post}}
<div class="my-16 mx-2 md:mx-0 md:w-4/5">
    <h2 class="text-5xl font-bold"><a href={{url}}>{{title}}</a></h2>
    <time class="text-md text-gray-600 mt-2">{{date format="MMMM D, YYYY"}}</time>
    <div class="mt-2 content">{{content}}</div>
</div>
{{/post}}